@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    a{
      @apply block;
    }
    *{
      @apply transition-all duration-500;
      -webkit-tap-highlight-color: transparent;
    }
    @keyframes slide {
      0%, 1% {@apply left-80 opacity-0;}
      50%, 100% {@apply left-0 right-0 opacity-100; }
    }
    @keyframes slideRemoved {
      0%, 1% {@apply left-0 right-0; }
      50%, 100% {@apply left-80 opacity-0;}
    }
    .animate-slide{
      
      animation: slide 500ms ease;
      animation-fill-mode: forwards;
    }
    .animate-remove-slide{
      animation: slideRemoved 500ms ease;
      animation-fill-mode: forwards;
    }
  }


