@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    *{
      transition: all 500ms;
      
    }
    @keyframes slide {
      0%, 1% {transform: translateY(50px);}
      50%, 51% {transform: translateY(100px);}
      99%, 100% {transform: translateY(0px);}
    }
    .animate-slide{
      animation: slide 1s ease-out;
      animation-fill-mode: forwards;
    }
  }


@layer utilities{
  .animated-element{
    @apply animate-slide
  }
}