@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
    a{
      @apply block;
    }
    *{
      @apply transition-all duration-500;
      -webkit-tap-highlight-color: transparent;
    }
    @keyframes slide {
      0%, 1% {@apply left-80 opacity-0;}
      50%, 100% {@apply left-0 right-0 opacity-100; }
    }
    @keyframes slideRemoved {
      0%, 1% {@apply left-0 right-0; }
      50%, 100% {@apply left-80 opacity-0;}
    }
    .animate-slide{
      
      animation: slide 500ms ease;
      animation-fill-mode: forwards;
    }
    .animate-remove-slide{
      animation: slideRemoved 500ms ease;
      animation-fill-mode: forwards;
    }

    .tooltip{
      @apply 
      relative 
      before:z-10 
      before:absolute 
      before:left-1/2 
      before:-top-3 
      before:w-max 
      before:max-w-sm 
      before:-translate-x-[-1%]
      before:-translate-y-full 
      before:rounded-lg 
      before:bg-gray-700 
      before:px-2 
      before:py-1.5 
      before:text-white 
      before:invisible 
      before:content-[attr(data-tip)] 
      
      after:z-10 
      after:absolute 
      after:left-1/2 
      after:-top-3 
      after:h-0 
      after:w-0 
      after:-translate-x-1/2 
      after:rotate-45
      after:border-8 
      after:border-t-gray-700 
      after:border-l-transparent 
      after:border-b-transparent 
      after:border-r-transparent 
      after:invisible 
      hover:before:visible 
      hover:after:visible;
    }
  }


